@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body {
    max-width: auto;
    height: auto;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}
#afthd{
    background-color: #f2f2f2;
    height: 900px;
}

#box {
    position: relative;
    top: 16px;
    width: 720px;
    height: 850px;
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid #FFF;
    background-color: #FFF;
}

#title {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    top: 18px;
    left: 20px;
    display: inline-block;
}

.profPic {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 30px;
    display: inline-block;
    top: 40px;
    left: 20px;

}

.profName {
    position: relative;
    display: inline-block;
    top: 40px;
    left: 20px;
}

.time {
    position: relative;
	float:right;
    top: 17px;
    color: #b5b5b5;
	right: 25px;
}

.hr1 {
    position: relative;
    color: #EBEBEB;
    width: 94%;
    border: 1px solid #EBEBEB;
    top: 20px;
}

.studyInfo {
	position: relative;
	color : #b5b5b5;
	top: 20px;
	left: 27px;
}


/* .field {
    position: relative;
    top: 28px;
    left: 20px;
    color: #b5b5b5;
    display: inline-block;
}

.answerfield {
    position: relative;
    top: 28px;
    left: 30px;
    display: inline-block;
}

.location {
    position: relative;
    top: 33px;
    left: 20px;
    color: #b5b5b5;

}

.answerlocation {
    position: relative;
    top: 9px;
    left: 62px;
}

.people {
    position: relative;
    top: 15px;
    left: 20px;
    color: #b5b5b5;

}

.answerpeople {
    position: relative;
    top: -9px;
    left: 62px;
}


.contactMethod {
	position: relative;
    top: 22px;
    left: -25px;
    color: #b5b5b5;
    display: inline-block;
}

.answerContact {
	position: relative;
    top: 22px;
    left: -18px;
    display: inline-block;
    margin-bottom: 6px;
}  */

.hr2 {
    position: relative;
    width: 94%;
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
    top: 20px;
}

.about{
    position: relative;
    top: 15px;
    left: 20px;
}

input[type=button] {
	position: relative;
	padding: 0px 15px;
	background-color: #3393f4;
	color: white;
	height: 37px;
	margin-left: 5px;
	top : 10px;
}

#updateBtn, #deleteBtn, #studyListBtn{
	border-radius: 3px;
}



/* .comment {
    position: relative;
    font-weight: bold;
    top: 125px;
    left: 20px;
    
}
.noComment{
    position: relative;
    text-align: center;
    top: 220px;
    font-size: 20px;
}
.hr5{
    position: relative;
    width: 94%;
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
    top: 130px;

}
.hr3{
    position: relative;
    width: 94%;
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
    top: 280px;
    
}
.commentWrite{
    position: relative;
    font-weight: bold;
    top: 280px;
    left: 20px;

}
#cwrite{
    position: relative;
    top: 290px;
    left: 20px;
    resize: none;
    outline-color: #f2f2f2;
    border-color: #a6a6a6;
    border-radius: 10px;
}

.hr4{
    position: relative;
    width: 94%;
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
    top: 235px;
}
.about{
    position: relative;
    top: 15px;
    left: 20px;
}

.report{
    position: relative;
    top: 20px;
    left: 660px;
    font-size: 10px;
    
}
a{
    color: #b5b5b5;
    text-decoration: none;
}
.btn{
    position: relative;
    z-index: 1;
    top: 233px;
    left: 650px;
    color: #FFF;
    background-color: #3393f4;
    background-color: #a6a6a6;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3393f4;
    color: #fff;
} */