body {
    max-width: auto;
    height: auto;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}
#all{
    position: relative;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.choosebox {
    position: relative;
    top: 30px;
    width: 800px;
    height: 320px;
    margin: 0 auto;
    border: 1px solid#FFF;
    background-color: #f2f2f2;
}

.writebox {
    position: relative;
    top: 50px;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid#FFF;
    background-color: #f2f2f2;
}
.btn3{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 70px;
}


.who {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;

}

.hr {
    color: #EBEBEB;
    border: 1px solid #EBEBEB;
}

.field {

    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.fieldchoose {
    color: #757575;
    background-color: #f2f2f2;
    border-style: none;
    margin-left: -2px;
}

.locationchoose {
    width: 90px;
    color: #757575;
    background-color: #f2f2f2;
    border-style: none;
    margin-left: -2px;
}

.wish {
    font-weight: normal;
    font-size: 15px;
}

.count {
    margin-top: 10px;

}
#hopediv{
    display: inline-block;
}

.text1 {
    width: 30px;
    font-weight: normal;
}
.text2 {
    width: 30px;
    font-weight: normal;
}

.yes {
    position: absolute;
    background-color: #3393f4;
    border: none;
    color: #fff;
    border-radius: 4px;
    margin-top: 8px;
}

.ckb {
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    margin-top: 6px;
}

.notetitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#cwrite {
    font-size: 15px;
    border: none;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-left: 10px;
    color: #757575;
    

}
.btn2{
    border: none;
    background-color: #3393f4;
    color: #FFF;
    border-radius: 30px;
    width: 700px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
textarea{
    resize: none;
    outline-color: #f2f2f2;
    border-color: #f2f2f2;
}
#hope{
    display: inline-block;
}


#ctitle{
    resize: none;
    outline-color: #f2f2f2;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

#ppls{
    accent-color: #3393f4;
}
.mung{
    font-weight: normal;
    font-size: 15px;
}