div.container-v2 {
    padding-top : 64px
}
div.wrapper-v2 {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}
div.register-wrap {
    padding-bottom: 100px;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}
h2.register-title {
    margin-bottom: 100px;
    margin-top: -5px;
    font-size: 24px;
    font-weight: 700;
    color: #242424;
    line-height: 28px;
    text-align: center;
}
form.register {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: none;
}
div.email-input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: none;
}
div.label-wrap {
    margin-bottom: 8px;
}
label.label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #242424;
    line-height: 22px;
}
span.label1 {
    margin-left: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #4745ff;
    line-height: 16px;
}
div.input-wrap {
    margin-bottom: 30px;
    height: 70px;
}
input.input-wrap {
    padding: 12px 0 10px;
    width: 540px;
    font-size: 14px;
    font-weight: 17px;
    color: #242424;
    line-height: 17px;
    border-bottom: 1px solid #d8d8d8;
    height: 21px;
}
input::placeholder {
    color: rgb(216, 216, 216);
}

div.gender-btn-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 328px;
    margin-top: 5px;
    margin-bottom: 6px;
}
button.gender-btn {
    margin-right: 12px;
}
.gender-btn {
    width: 48%;
    padding: 12px 0;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    color: #242424;
    line-height: 16px;
}

div.agree-check-wrap {
    margin-top: 68px;
    height: 77px;
    margin-bottom: 30px;
}
ul.agree {
    list-style: none;
}
li.agree {
    margin-bottom: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #242424;
    cursor: pointer;
}
p.agree-icon {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    border: 1px solid #999;
    border-radius: 2px;
}
p.agree2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: none;
}

a.agree3 {
    border-bottom: 1px solid #242424;
    color: inherit;
    text-decoration: none;
}

div.register-btn {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    outline: none;
}
.register-btn button {
    background-color: rgb(216, 216, 216);
    width: 100%;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 17px;
    border-radius: 2px;
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    
}

#result{
	font-size: 13px;
	margin-top: 5px;
}