p{
    margin: 0px;
}
.curriculumSection {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

div.curriculum_header {
    padding: 40px 0px 24px;
    box-sizing: border-box;
}

.curriculum_header h1 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

span.smTxt {
    color: #3393f4;
    font-size: .875rem;
}
span.bgTxt {
    color: #42495b;
    font-size: 1.75rem;
    line-height: 1.5;
}

.curriculum-title_wrap {
    position: relative;
}

.curriculum-list_wrap{
    padding-top: 20px;
    padding-bottom: 20px;
}

.curriculum-title_wrap h3{
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.curriculum-list_wrap .list-title {
    margin-bottom: 5px;
    word-wrap: break-word;
    color: #333;
    font-weight: 500;
    text-align: justify;
    display: inline-block;
}

.filter_and_regist{
    width: 100%;
    display: block;
}

.curriculum-regist{
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    display: inline-block;
}

.curriculum-regist:hover{
    color: #fff;
}

.curriculum-filter_select{
    display: inline-block;
}

.curriculum-list {
    margin-left: -15px;
}

.curriculum-list li {
    width: 25%;
    margin-top: 15px;
    position: relative;
    float: left;
    padding-left: 15px;
}

.curriculum-list li a{
    color: black;
}

.curriculum-list_box {
    border: 1px solid #ececec;
    /* padding: 18px; */
    box-shadow: 0 1px 1px rgb(50 50 93 / 11%), 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 8px;
    overflow: hidden;
}

.curriculum-list_box:hover{
    transition: all .3s ease-in-out;
    box-shadow: 0 1px 1px rgb(50 50 93 / 11%), 0 1px 5px rgb(0 0 0 / 8%);

}

.recommend {
    background: var(--main);
}
/* .recommend {
    background: rgba(254,77,35,.7);
} */

.recommend-label {
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 25px;
    padding: 5px 10px;
    letter-spacing: -1px;
    line-height: 1;
}

.curriculum-brief-info{
    font-size: 12px; 
    font-weight: normal;
}

.curriculum-list_box .university-logo {
    padding-top: 5px;
    width: 40px;
    float: left;
}

.university-logo img {
    max-width: 100%;
}

.info-category {
    height: 40px;
    margin-left: 50px;
}

.univer_name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 10px;
}

.user_name {
    font-size: 12px;
    color: #aaa;
    font-weight: 400;
}

.curriculum-segment {
    margin-top: 17px;
    text-align: center;
}

.curriculum-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    width: 100%;
    height: 44px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
    padding: 0 10px;
}

.rank-mark-number {
    font-size: 17px;
    color: #888;
    font-weight: 500;
    margin-left: 5px;
}

.recommend-rank-mark-number {
    color: #fe4e23;
}

.td-text-style {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
}

.filter-search-result{
    color: var(--main);
}

.fa-thumbs-up:before {
    content: "\f164";
}

.rank-mark.checked {
    background: url(https://d1qzykz9iz00c7.cloudfront.net/static/web/main/rank-star_checked.png) no-repeat center center;
}

.rank-mark {
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url(https://d1qzykz9iz00c7.cloudfront.net/static/web/main/rank-gray.png) no-repeat center center;
    background-size: cover;
    margin-top: 15px;
}

.curriculum-list li .area-line {
    margin: 20px 0 17px;
}

.area-line{
    padding: 0.5px 0;
    background: #f3f3f3;
    margin: 13px 0;
}

.uni-info_text_wrap{
    padding-top: 12px
}

.curriculum-review{
    letter-spacing: -1px;
}

.curriculum-review h4{
    font-size: 12px;
    margin-bottom: 3px;
}
.curriculum-review p{
    font-size: 14px;
    font-weight: 300;
    color: #666;
    height: 34px;
    line-height: 1.3;
    font-size: .875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    text-align: justify;
}

.curriculum-review .good {
    color: #fe4e23;
}

.curriculum-review .bad {
    margin-top: 20px;
    color: #230aa2;
}

.sub-info {
    margin-top: 14px;
}

.sub-info>span:first-child {
    margin-left: 0;
}

.sub-info>span {
    color: #aaa;
    font-size: .75rem;
    margin-left: 5px;
}

.sub-info>span>i {
    margin-right: 3px;
    vertical-align: middle;
}

/* 과목 태그 */
.departments{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.department{
    line-height: 20px;
    color: #737373;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 0 12px;
    border-radius: 6px;
    height: 36px;
    background-color: #eee;
}

.department:hover{
    background-color: #d0e7fd;
    /* color: #fff; */
}

.checked{
    background-color: #d0e7fd;
    color: var(--main);
}

.more-btn:hover{
    color: var(--main);
    border: 1px solid var(--main);
}

.curriculum-regist{
    padding: 6px 10px;
    background-color: #3393f4;
    border-radius: 2px;
    margin-right: 10px;
    float: right;
    display: block;
}

.top-curriculum-info{
    padding: 18px;
    padding-top: 10px;
}

.curriculum-rank{
    margin-bottom: 10px;
}

.bookmark{
    position: absolute;
    top: 5px;
    right: 12px;
}

.bookmark i {
    color: rgb(209, 209, 209);
}

.bookmark i:hover {
    color: rgb(255, 20, 20);
}